@import 'https://fonts.googleapis.com/css?family=Quicksand';
@import 'https://fonts.googleapis.com/css?family=Taviraj';

*{
  font-family: 'Taviraj', serif;
}
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}
blockquote {
  font-family: Georgia, serif;
  font-size: 20px !important;
  font-style: italic;
  width: 100%;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
}
blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}
.header {
  /*background: tomato;*/
}
.header_bio{
  text-align: center;
}
h2{
  font-size: 20px !important;
}
.aside-1 ul {

  flex-wrap: wrap;
  font-size: 1.2em;
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  font-weight: bolder;

  text-align: -webkit-center;


}
.aside-1 ul li{
  display: inline-block;

}
.aside-1 li:hover{
  text-transform: lowercase;
  font-size: 2em;
}
#profile_img {
  width: 150px;
  height: 150px;
}
#banner{
  width: 300px;
}
.footer {
  font-family: 'Quicksand', sans-serif;
}

.main {
  /*text-align: justify;*/
  /*height: 200%;*/
}
.biography{
  font-family: 'Taviraj', serif;
}
section{
  text-align: justify;
}

.aside-1 {

  /*display: flex;*/
  flex-wrap: wrap;
  text-align: -webkit-auto;
}
#imageHeader{
  width: 100%;
  height:auto;
}

.aside-2 {
  /*background: hotpink;*/
}
a{
  /*text-decoration: none;*/
font-weight: 600 !important;
  color: black;
  text-decoration: none !important;

}
a:visited{
  text-decoration: none !important;

  color: #363F45;
}
a:hover {
  text-decoration: none !important;
}
@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    {
    flex: 3 0px;
  }
  .aside-1 {
    display: flex;
    /*align-items: center;*/
    width: 20px;
    order: 1;
  }
  .aside-1 ul{
    /*text-align: -webkit-center;*/
  }
  .aside-1 ul li{
    display: flex;
    align-items: center;
  }
  .main    {
    height:auto;
    order: 3;
    /*width: 80%;*/
  }
  .header_bio{
    text-align: center;

  }
  .biography{
    font-family: 'Taviraj', serif;
    font-weight: lighter;
    text-align: justify;

  }
  .aside-2 {
    order: 3;
    /*width: 400px;*/
    position: relative;
  }
  #profile_img {
    text-align: left;
  }

  .footer  {
    order: 4;
  }
  #banner{
    width: 600px;
  }
  #imageHeader{
    width: 600px;
    height:280px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  #o_image{
    width: 300px;
    height:150px;
  }
  .positioning{
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
body {
  padding: 2em;
}
